scripts/AM2331.json
[{"id":"933aeaef.133ec","type":"tab","label":"AM2321","disabled":false,"info":""},{"id":"88696b88.9dd39","type":"inject","z":"933aeaef.133ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141.5,"y":235.5,"wires":[["ba4899a5.41aa3","b4fa0165.0086b"]]},{"id":"b1e0ab26.8b3168","type":"i2c in","z":"933aeaef.133ec","name":"","address":"92","command":"0","count":"6","x":452,"y":346,"wires":[["c7c8aad3.9e667","ccf62e55.e48458"]]},{"id":"eddd5afb.4cc8c8","type":"i2c out","z":"933aeaef.133ec","name":"","address":"92","command":"3","payload":"payload","payloadType":"msg","count":"2","x":621.5,"y":297.5,"wires":[]},{"id":"ba4899a5.41aa3","type":"delay","z":"933aeaef.133ec","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":281.5,"y":297.5,"wires":[["d739a87.12d99d8","20f62092.d1bfb"]]},{"id":"20f62092.d1bfb","type":"delay","z":"933aeaef.133ec","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":294,"y":351,"wires":[["b1e0ab26.8b3168"]]},{"id":"c7c8aad3.9e667","type":"debug","z":"933aeaef.133ec","name":"","active":false,"console":"false","complete":"false","x":639.5,"y":348,"wires":[]},{"id":"d739a87.12d99d8","type":"function","z":"933aeaef.133ec","name":"init data","func":"msg.payload = new Buffer([0,4]);\nreturn msg;","outputs":1,"noerr":0,"x":463.5,"y":297.5,"wires":[["eddd5afb.4cc8c8","1d3ccfda.fa3538"]]},{"id":"1d3ccfda.fa3538","type":"debug","z":"933aeaef.133ec","name":"","active":false,"console":"false","complete":"false","x":632,"y":261,"wires":[]},{"id":"b4fa0165.0086b","type":"i2c out","z":"933aeaef.133ec","name":"reset","address":"92","command":"0","payload":"0","payloadType":"str","count":"1","x":323,"y":243,"wires":[]},{"id":"837f631c.c8a6c8","type":"catch","z":"933aeaef.133ec","name":"","scope":["b4fa0165.0086b"],"x":322.5,"y":200.5,"wires":[["a4b6115.303d57"]]},{"id":"a4b6115.303d57","type":"debug","z":"933aeaef.133ec","name":"","active":false,"console":"false","complete":"false","x":493.5,"y":199,"wires":[]},{"id":"ccf62e55.e48458","type":"function","z":"933aeaef.133ec","name":"","func":"msg.humidity = msg.payload.readInt16BE(2) / 10;\nmsg.temperature = msg.payload.readInt16BE(4) / 10;\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":414,"wires":[["acd7bc9d.edfa28","d5c6607d.658e1"]]},{"id":"d5c6607d.658e1","type":"debug","z":"933aeaef.133ec","name":"","active":true,"console":"false","complete":"temperature","x":659,"y":464,"wires":[]},{"id":"acd7bc9d.edfa28","type":"debug","z":"933aeaef.133ec","name":"","active":true,"console":"false","complete":"humidity","x":637,"y":415,"wires":[]},{"id":"10c1777a.6837c9","type":"exec","z":"933aeaef.133ec","command":"python /home/pi/am2321.py ","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":337,"y":620,"wires":[["352b63a9.f9752c","544daef9.a3d07"],[],[]]},{"id":"ffe60bc1.2ec4f8","type":"inject","z":"933aeaef.133ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":567.5,"wires":[["10c1777a.6837c9"]]},{"id":"352b63a9.f9752c","type":"debug","z":"933aeaef.133ec","name":"","active":false,"console":"false","complete":"false","x":564,"y":607,"wires":[]},{"id":"544daef9.a3d07","type":"split","z":"933aeaef.133ec","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"topic","x":568.5,"y":657.5,"wires":[["2254d06.19c553"]]},{"id":"2254d06.19c553","type":"debug","z":"933aeaef.133ec","name":"","active":true,"console":"false","complete":"true","x":733.5,"y":666,"wires":[]},{"id":"b35683f6.a835a","type":"split","z":"933aeaef.133ec","name":"","splt":":","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":642,"y":720,"wires":[["7e7d68c9.412e48"]]},{"id":"7e7d68c9.412e48","type":"debug","z":"933aeaef.133ec","name":"","active":true,"console":"false","complete":"false","x":820,"y":715,"wires":[]}]
