scripts/LM75B.json
[{"id":"321ecf5e.8e7d18","type":"tab","label":"LM75B","disabled":false,"info":""},{"id":"24f506d7.f4e9d2","type":"inject","z":"321ecf5e.8e7d18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":297,"y":174.5,"wires":[["b52938a8.ab625"]]},{"id":"b52938a8.ab625","type":"i2c in","z":"321ecf5e.8e7d18","name":"","address":"72","command":"0","count":"2","x":532.5,"y":172,"wires":[["2dab17de.b5efe8","495f41af.9b7ef8"]]},{"id":"2dab17de.b5efe8","type":"debug","z":"321ecf5e.8e7d18","name":"","active":false,"console":"false","complete":"false","x":814,"y":175,"wires":[]},{"id":"495f41af.9b7ef8","type":"function","z":"321ecf5e.8e7d18","name":"","func":"msg.temperature = msg.payload.readInt16BE(0) / 32 * 0.125;\nreturn msg;","outputs":1,"noerr":0,"x":654.5,"y":230,"wires":[["8fe4d494.c28af8"]]},{"id":"8fe4d494.c28af8","type":"debug","z":"321ecf5e.8e7d18","name":"","active":true,"console":"false","complete":"temperature","x":849.5,"y":228,"wires":[]}]
